.follow-now {
  color: white;
  background-color: #0080ff;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}



.follows {
  color: #0080ff;
  background-color: white;
  border: 1px solid #0080ff;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.follows:hover {
  color: #0001ff;
  border: 1px solid #0001ff;
}
