* {
  box-sizing: border-box;
}


.Main {
  height: calc(100vh - 70px);
  overflow: scroll;
  .MainContents {
    padding: 0 300px;
    .none-follow-text {
      color: gray;
      text-align: center;
      margin-top: 30px;
    }
    .FirstWelcome {
      font-size: 30px;
      display: block;
      font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .Post {
      display: block;
      background-color: #f5f5f5;
      border: 1px solid #C0C0C0;
      border-radius: 5px;
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 50px;
      &__user {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &--image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;

        }
        &--name {
          font-size: 18px;
          margin-left: 10px;
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
      }
      &__pic {
        width: 100%;
        transition: 0.2s;
      }
      &__pic:hover {
        opacity: 0.7;
        transition: 0.2s;
      }
      &__icon {
        display: flex;
        padding: 0 10px;
        &--redlike {
          margin-right: 5px;
          color: red;
          font-size: 25px;
        }
        &--blacklike {
          margin-right: 5px;
          color: black;
          font-size: 25px;
        }
        &--size {
          display: inline;
          position: relative;
          bottom: 9px;
        }


        &--comment {
          margin-left: 15px;
          color: black;
          font-size: 25px;
        }
        .Comment-num {
          margin-left: 5px;
        }
      }
      &__text {
        margin-top: 5px;
        padding: 0 8px;
        .Comment__user {
          display: inline-block;
          text-decoration: none;
          color: black;
          font-size: 16px;
          font-weight: bold;
          margin: auto;
        }
        .Comment__user:hover {
          opacity: 0.5;
        }
        .Post__created_at {
          font-size: 12px;
          margin-top: 10px;
        }
        .Comment__contents {
          font-size: 15px;

        }
      }
    }
  }
}
