.TopLogo
  .toLogoContents
    = link_to "Picstagram", root_path, class: 'topLogoContents__logo'
  .topLogoUserInfo
    = link_to (image_tag current_user.image.url, class: "topLogoUserInfo__image"), user_path(current_user)
